

#example2 td{
	font-size:10px;
}

#example2 input{
	font-size:10px;
}


#example2_wrapper {
	font-size:10px;
}

#driversTableDiv{
width: 80%;
margin-top: 20px;
}

#left_menu_drivers_container{
width: 5%;
height:100%;
margin: 15px;
}