<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.kropla.routemapclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
          <permission
        android:name="dev.kropla.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="dev.kropla.gcm.permission.C2D_MESSAGE" />
    -->
    <permission
        android:name="dev.kropla.routemapclient.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="dev.kropla.routemapclient.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher_map"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="dev.kropla.routemapclient.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dev.kropla.routemapclient.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="dev.kropla.routemapclient.SendPositionData"
            android:label="@string/app_name" >
        </activity>

        <!--
          BroadcastReceiver that will receive intents from GCM
          services and handle them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="dev.kropla.routemapclient" />
            </intent-filter>
        </receiver>

        <service android:name="dev.kropla.routemapclient.GCMIntentService" />

        <activity
            android:name="dev.kropla.routemapclient.ListOfOrdersActivity"
            android:label="@string/title_activity_list_of_orders" >

            <!--
                 <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.kropla.routemapclient.MainActivity" />
            -->
        </activity>
        <activity
            android:name="dev.kropla.routemapclient.ConfirmOrderActivity"
            android:label="@string/title_activity_confirm_order"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="dev.kropla.routemapclient.TaksometerActivity"
            android:label="@string/title_activity_taksometer" >
        </activity>
    </application>

</manifest>